



/*



░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗  ░█████╗░░██████╗░██████╗  ██████╗░██████╗░██╗░█████╗░███╗░░██╗
██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝  ██╔══██╗██╔════╝██╔════╝  ██╔══██╗██╔══██╗██║██╔══██╗████╗░██║
╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░  ██║░░╚═╝╚█████╗░╚█████╗░  ██████╦╝██████╔╝██║███████║██╔██╗██║
░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░  ██║░░██╗░╚═══██╗░╚═══██╗  ██╔══██╗██╔══██╗██║██╔══██║██║╚████║
██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗  ╚█████╔╝██████╔╝██████╔╝  ██████╦╝██║░░██║██║██║░░██║██║░╚███║
╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝  ░╚════╝░╚═════╝░╚═════╝░  ╚═════╝░╚═╝░░╚═╝╚═╝╚═╝░░╚═╝╚═╝░░╚══╝

@ᴄᴏᴘʏʀɪɢʜᴛ RNOVA




*/

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/*fin font*/

/* Configuracion de body o pagina global  ***  NO TOCAR ***/

#particles-js .particles-js-canvas-el{
   
    
    
}
body{
    
    background-color: black;
    color:white;
}

body::-webkit-scrollbar{width: 5px;} body::-webkit-scrollbar-thumb{background-color: #ff7712;color: #ff7712;}body::-webkit-scrollbar-button{background-color: blue; color: blue;}*::selection {
    background-color: #ff7712;
    color: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 119 18) !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #dc7529 !important;
}

a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
/* Fin de configuracion de body o pagina global */


/*SLIDER TITTLE*/
.carousel-item
{
    position: relative;
}
.titulo1
{
    position: absolute;
    top: 0;
    left: 30px;
    background-color: #ff77127a;
    padding: 50px;
    text-align: center;
}

.titulo2
{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #dc354557;
    padding: 50px;
    text-align: center;
}
.titulo3
{
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #9e9e9e6b;
    padding: 50px;
    width: 100%;
    text-align: center;
}
.titulo1 h5 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    font-size: 4em;
    width: 40%;
    
    
}

.titulo3 h5 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    font-size: 4em;
    width: 100%;
    text-align: center;
    
}

.titulo2 h5 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    font-size: 4em;
    width: 40%;
    text-align: end;
    
}
.titulo1 p{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    font-size: 1em;
    width: 40%;
    text-align: end;
    
}
.titulo2 p{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    font-size: 1em;
    width: 40%;
    
}
.titulo3 p{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    font-size: 1em;
    
    
}

.carousel-item img
{
    filter: brightness(0.6);
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2% !important;
    color: blue !important;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background-color: #0000003d;
}


/*secciones de imagenes*/
.texto-seccion-1
{
    position: absolute;
    top: 30px;
    left: 0px;

}
.texto-seccion-1 h1
{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}


/* inicio y registro*/
#inicio-sesion
{
    background-color: #ff771263;
    position: fixed;
   
    top: 0px;
    z-index: 1;
    height: 700px;

}
#registrarse
{
    background-color: #ff771263;
    position: fixed;
   
    top: 0px;
    z-index: 1;
    height: 700px;
}


.container-fluid
{
    position: relative;
}

#global {
    position: fixed;
    top: 0;
    right: 0px;
    width: 25%;
    height: 660px;
    background-color: white;
    z-index: 100;
    overflow-y: scroll;
}

#mensajes {
    height: 500px;
  
    border: 1px solid springgreen;
    position: relative;
}
.texto {
    padding: 10px 20px;
    background: #fff;
    margin: 10px 0px;

}
.botones {
    right: 0px;
    position: fixed;
    background-color: steelblue;
    padding: 10px;
    top: 86%;
    z-index: 100000;
    /* left: 0px; */
    width: 25%;
}
.texto p 
{
    margin-left: 30px;
    margin-right: 30px;
}
.texto a
{
    margin-left: 10px;
}

